
<% if user_signed_in? %>


<h1>Gigs List</h1>

<table class="table">
  <thead>
    <tr>
      <th>Gig name</th>   
      <th>Gig date</th>
      <th>Gig cache</th>
      <th>Gig type</th>
      <th>User ID</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @gigs.each do |gig| %>
      
      <% if gig.user == current_user %>

      <tr>
        <td>
        <%= link_to gig.gig_name, gig %>
 
        </td>
        <td><%= gig.gig_date %></td>
        <td><%= gig.gig_cache %></td>
        <td><%= gig.gig_type %></td>
        <td><%= gig.user_id %></td>
  
        <td><%= link_to 'Delete', gig, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger btn-sm" %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gig', new_gig_path, class:"btn btn-secondary" %>

<% else %>

<h1>Home#index</h1>
 <h2>Hi world</h2>
<p>Find me in app/views/home/index.html.erb</p>

<% end %>
