
<% if user_signed_in? %>

     <div class="container text-center">
     <h1 class='my-2'>Balance</h1>

    <% if @gigs_factura == 0 && @gigs_b == 0 && @gigs_altass == 0 %>

      <div class="jumbotron">
  <%# <h1 class="display-4">Hello, world!</h1> %>
  <p class="lead">Esta es la página de balance. Aquí es donde irás viendo las cantidades de bolos realizados
     las concluciones, análisis y recomendaciones según el tipo de trabajos que realizas.</p>
  <hr class="my-4">
  <p>Recuerda que para acceder sólo te hemos pedido un email y una contraseña los cuales tampoco compartiremos con nadie. Sólo compartitemos con tu permiso los datos de los bolos.
  </p>
  <p class="lead">
    <%# <a class="btn btn-primary btn-lg" href="#" role="button">Start</a> %>

    <%= link_to 'Start', new_gig_path, class:"btn btn-primary" %>
  </p>
</div>



     <% else %>


                <div class="row text-center">


                    <div class="col-lg-4 col-md-6 mb-5">

                                    
                            <div class="card">
                            <div class="card-header">
                                Factura
                            </div>


                            <div class="card-body">
                              <div class="balance-card-numbers text-center">
                                    <%= @gigs_factura %>
                                    
                                    </div>

                                    <h3> Total Ingresado: <%= @gigs_total_amount_factura %> €</h3>


                                <h5 class="card-title">Autónomos o falsos autónomos</h5>
                                <%# <p class="card-text">¿Estas facturas las has emitido tú o fueron indirectas?</p> %>
                                <a href="#" class="btn btn-primary">Más info</a>
                              </div>
                            </div>  
                    
                    </div>

                    <div class="col-lg-4 col-md-6 mb-5">

                

                                <div class="card">

                                <div class="card-header">
                                    B
                                </div>

                                <div class="card-body">

                                <div class="balance-card-numbers text-center">
                                    <%= @gigs_b %>
                                    </div>

                                     <h3> Total Ingresado: <%= @gigs_total_amount_b %> €</h3>
                                    <h5 class="card-title">Bolos sin alta en la Seguridad Social</h5>
                                    <%# <p class="card-text">En estos bolos no cotizas ni estarás cubierto en caso de accidente.</p> %>
                                    <a href="#" class="btn btn-primary">Mas Info</a>
                                </div>
                                </div>


                    </div>

                    <div class="col-lg-4 col-md-6 mb-5">
                
                                <div class="card">
                                <div class="card-header">
                                    Alta SS
                                </div>
                                <div class="card-body">

                                <div class="balance-card-numbers text-center">
                                    <%= @gigs_altass %>
                                    </div>

                                     <h3> Total Ingresado: <%= @gigs_total_amount_altass%> €</h3>

                                    <h5 class="card-title">Bolos cotizados en la Seguridad Social</h5>
                                    <%# <p class="card-text">Estos bolos tienen un valor bruto en el que se contembla tu seguro, paro, jubilación...</p> %>
                                    <a href="#" class="btn btn-primary">Más info</a>
                                </div>
                                </div>
                                

                    </div>

                


                </div>

                <% if @gigs_factura < @gigs_altass %>
                        <div class="jumbotron">
                                <h1 class="display-4">Eres asalariado</h1>
                                <p class="lead">No le des más vueltas. 
                                Si te han dicho dónde y cuando vas a tocar y cuanto vas a cobrar eres trabajador por cuenta ajena. 
                                El trabajador por cuenta ajena tiene que estar sujeto a los horarios, descansos y lugar de trabajo que establezca el empresario, mientras que el trabajador por cuenta propia establecerá sus horarios y sus descansos a la vez que escogerá el lugar donde él quiera trabajar, según le sea más beneficioso. </p>

                                <hr class="my-4">
                                <p>Si necesitas más información puedes consultar las normativas aquí. 
                                Si necesitas asesoramiento, afíliate al SMAC! </p>
                                <p class="lead">
                                    <a class="btn btn-primary btn-lg" href="#" role="button">SMAC!</a>
                                </p>
                        </div>

            
                <% else %>
                        <div class="jumbotron">
                            <h1 class="display-4">Eres empresario</h1>
                            <p class="lead">
                            Tienes contratos mercantiles. Decides dónde y cuando hacer tu trabajo y también tu tarifa o caché.
                            Recuerda contratar laborarlmente al resto de la banda que no formen parte de la empresa.
                            </p>

                            <hr class="my-4">
                            <p>Si necesitas más información puedes consultar las normativas aquí. 
                            Si necesitas asesoramiento, consulta con Subiturre </p>
                            <p class="lead">
                                <a class="btn btn-primary btn-lg" href="#" role="button"> Gestor </a>
                            </p>
                        </div>
                <% end %>

      <% end %>

    </div>



<% else %>

<%# <%= render 'home/index' %> 
    <div class="container">

     <div class="row title-section text-center mt-5">
            <div class="col-lg-6">
                
                <h1 class="mt-5">¿Autónomo o asalariado?</h1>
                <h3>Lleva el control de tus bolos y <br>encontrarás la respuesta</h3>
                <p class="mt-4">
                <%= link_to  "Entrar", new_user_registration_path, class:"btn btn-primary btn-lg" %>
                    </p>

            </div>

            <div class="col-lg-6 mt-3 d-flex justify-content-center">
            <%= image_tag("homeWorkers.png", class:"net-image-center"    , :alt => "rss feed") %>
                </div>
    </div>
    
    </div>
   

      <div class="row home-section-one text-center mt-5 px-5">
         
            <div class="col-lg-12">
                
                <h2 class="mt-5 text-white"> ¿Quieres ganar dinero con la música, la danza, etc?</h2>
                <h6 class="text-white">¿Si? Pues entonces eres profesional. ¿No? Pues no pasa nada, el arte es tu hobby, <br>
                no te preocupa generar economía...</h6>
                <p class="text-white">
                
                Pero no nos podemos permitir el uso del término ¨semiprofesional¨.<br> Existe una legislación al respecto para todos aquellos profesionales que deseen generar economía.  <br>
              <br> Eres profesional o amateur. Simple.

                </p>
                
                  <p class="my-4">
                   <%= link_to  "Entrar", new_user_registration_path, class:"btn btn-primary btn-lg" %>
                                    </p>
            </div>
    </div>

    <div class="row  home-section-two text-center mt-5 px-5">
            <div class="col-lg-12">
                
                <h2 class="mt-5"> Y ahora ¿Eres profesional por cuenta propia o por cuenta ajena?</h2>
                <h6 class="">En el ciscuito de las artes nos perdemos en un debate eterno <br>pero las normas que hemos establecido al respecto como sociedad nos ayudan bastante a clarificar nuestra situación.</h6>
                <p class="">
                   En esta app te ayudaremos a definir tu situación más allá de debates y opiniones,<br> analizando la cantidad bolos que haces ya sea dado de alta, facturando o facturando indirectamente.
                </p>
                
                  <p class="my-4">
                   <%= link_to  "Entrar", new_user_registration_path, class:"btn btn-primary btn-lg" %>
                    </p>
            </div>
    </div>





<% end %>




